# Игнорировать конфиденциальные файлы с ключами и паролями
.env

# Игнорировать папку с данными базы данных PostgreSQL
pg_data/

# Игнорировать файлы, создаваемые Python
__pycache__/
*.pyc
*.pyo

# Игнорировать логи
*.log

# Игнорировать Docker временные файлы
docker-compose.override.yml
.Dockerfile.swp

# Игнорировать файлы IDE
.vscode/
.idea/
